<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/hurr/demo">
        <button type="submit">Demo Page</button>
    </form>
    <h1>HOMEPAGE</h1>

    <form action="/login">
        <button  type="submit">Login Page</button>
    </form>
    <form action="/signup">
        <button  type="submit">Signup Page</button>
    </form>
    
</body>
</html>